.board {
    width: 600px;
    height: 600px;
    background-color: gray;
    overflow:hidden;
}
.square{
    box-sizing: border-box;
    width:30px;
    height:30px;
    float:left;
    overflow:hidden;
}
.snake{
    background-color: green;
    box-shadow: 0px 0px 5px green;
}
.food{
    background-color: orange;
    box-shadow: 0px 0px 5px orange;
    border-radius: 50%;
}
.wrapper{
    position: relative;
    width:600px;
    height:600px;
}
.controls{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.gameOverText{
    display: block;
    text-align: center;
}
button {
    border: none;
    background-color: white;
    box-shadow: 0 0 5px black;
    width: 200px;
    font-size: 20;
}

button:hover{
    opacity: 1;
}
.hidden{
    display: none;
}